Repository pentible/typescript-standards: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, eslint, shellcheck --color=always, npx eslint-config-prettier

split out lint/test into validate workflow
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: prettier --check --ignore-unknown

bumped version to v0.30.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-nestjs/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/jest-silent/package.json
  packages/jest/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

changed validate to only trigger on push (so we don't get duplicates for prs), isn't exactly what I want, but is good enough for now
  .github/workflows/validate.yml
Due: prettier --check --ignore-unknown

bumped version to v0.31.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-nestjs/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/jest-silent/package.json
  packages/jest/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

bumped version to v0.32.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-nestjs/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/jest-silent/package.json
  packages/jest/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

log tests normally in ci
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: prettier --check --ignore-unknown

eslint: ignore unused vars prefixed with an underscore
  package-lock.json
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

bumped version to v0.33.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-nestjs/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/jest-silent/package.json
  packages/jest/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

eslint tweaks
  packages/eslint-config-nestjs/decorators.js
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

bumped version to v0.34.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-nestjs/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/jest-silent/package.json
  packages/jest/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

eslint-config-nestjs: ignore naming of type helpers
  packages/eslint-config-nestjs/index.js
  packages/eslint-config-nestjs/package.json
  packages/eslint-config-nestjs/typeHelpers.js
Due: prettier --check --ignore-unknown, eslint

bumped version to v0.35.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-nestjs/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/jest-silent/package.json
  packages/jest/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

eslint-config-nestjs: allow two classes in dto files
  packages/eslint-config-nestjs/index.js
Due: prettier --check --ignore-unknown, eslint

bumped version to v0.36.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-nestjs/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/jest-silent/package.json
  packages/jest/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

dropped eslint-config-nestjs
  package-lock.json
  packages/eslint-config-nestjs/decorators.js
  packages/eslint-config-nestjs/index.js
  packages/eslint-config-nestjs/package.json
  packages/eslint-config-nestjs/readme.md
  packages/eslint-config-nestjs/tsconfig.json
  packages/eslint-config-nestjs/typeHelpers.js
  tsconfig.json
Due: prettier --check --ignore-unknown, eslint

setup nix/direnv
  .envrc
  .eslintignore
  .gitignore
  .prettierignore
  default.nix
Due: prettier --check --ignore-unknown

jest: not auto mocking anymore (it's ultimately more annoying than helpful)
  packages/jest/jest-preset.js
Due: prettier --check --ignore-unknown, eslint

bumped version to v0.37.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/jest-silent/package.json
  packages/jest/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

nix: tweaking config a little
  default.nix
Due: prettier --check --ignore-unknown

upgraded to node 18
  .github/workflows/publish.yml
  .github/workflows/validate.yml
  .nvmrc
  package-lock.json
  packages/create-package/package.json
  packages/create-package/src/components/PackageJsonComponent.ts
  packages/jest/package.json
Due: prettier --check --ignore-unknown, eslint

fixed package version conflicts
  package-lock.json
  package.json
  packages/create-package/package.json
  packages/create-package/src/assumptions/collectAssumptions.ts
  packages/create-package/src/components/ChakraUiComponent.ts
  packages/create-package/src/components/CheckPackageLockComponent.ts
  packages/create-package/src/components/EslintComponent.ts
  packages/create-package/src/components/HuskyComponent.ts
  packages/create-package/src/components/JestComponent.ts
  packages/create-package/src/components/LintFixComponent.ts
  packages/create-package/src/components/LintStagedComponent.ts
  packages/create-package/src/components/PackageJsonComponent.ts
  packages/create-package/src/components/ParcelComponent.ts
  packages/create-package/src/components/PrettierComponent.ts
  packages/create-package/src/components/ReactComponent.ts
  packages/create-package/src/components/ShellcheckAllComponent.ts
  packages/create-package/src/components/TypescriptComponent.ts
Due: prettier --check --ignore-unknown, eslint

bumped version to v0.38.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

updated dependencies
  package-lock.json
  package.json
  packages/create-package/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
Due: prettier --check --ignore-unknown

updated execa
  package-lock.json
  packages/create-package/package.json
  packages/create-package/src/assumptions/collectAssumptions.ts
  packages/create-package/src/components/ChakraUiComponent.ts
  packages/create-package/src/components/CheckPackageLockComponent.ts
  packages/create-package/src/components/EsbuildComponent.ts
  packages/create-package/src/components/EslintComponent.ts
  packages/create-package/src/components/HuskyComponent.ts
  packages/create-package/src/components/LintFixComponent.ts
  packages/create-package/src/components/LintStagedComponent.ts
  packages/create-package/src/components/PackageJsonComponent.ts
  packages/create-package/src/components/PrettierComponent.ts
  packages/create-package/src/components/ReactComponent.ts
  packages/create-package/src/components/ShellcheckAllComponent.ts
  packages/create-package/src/components/TypescriptComponent.ts
Due: prettier --check --ignore-unknown, eslint

bumped version to v0.39.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

updated eslint-config-react deps
  package-lock.json
  packages/eslint-config-react/package.json
Due: prettier --check --ignore-unknown

bumped version to v0.40.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

check-package-lock now checks for conflicting packages in monorepos, allow vars in *.d.ts files
  packages/check-package-lock/check-package-lock.sh
  packages/check-package-lock/find-conflicting-packages.cjs
  packages/check-package-lock/is-monorepo.cjs
  packages/check-package-lock/package.json
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, eslint, shellcheck --color=always, npx eslint-config-prettier

bumped version to v0.41.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

basic devcontainer setup
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --check --ignore-unknown

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: prettier --check --ignore-unknown

setup devshell, fixed shellcheck-all.sh on macos
  .envrc
  default.nix
  devshell.toml
  flake.lock
  flake.nix
  packages/check-package-lock/check-package-lock.sh
  packages/shellcheck-all/shellcheck-all.sh
Due: prettier --check --ignore-unknown, shellcheck --color=always

bumped version to v0.42.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

added missing workspace check
  packages/check-package-lock/check-package-lock.sh
  packages/check-package-lock/find-missing-workspaces.cjs
Due: prettier --check --ignore-unknown, shellcheck --color=always

updated some package versions
  package-lock.json
  package.json
  packages/create-package/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
Due: prettier --check --ignore-unknown

bumped version to v0.43.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

always use the latest version when initializing with create-package
  packages/create-package/readme.md
Due: prettier --check --ignore-unknown

not required for node projects (which use husky)
  devshell.toml
Due: prettier --check --ignore-unknown

bumped version to v0.44.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

Path conditions:
  prettier --check --ignore-unknown: any of: *
  eslint: any of: *.{js,ts,jsx,tsx}
  shellcheck --color=always: any of: *.sh
  npx eslint-config-prettier: any of: packages/eslint-config/*.js
