Repository pentible/typescript-standards: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict, eslint, npx eslint-config-prettier

eslint-flat-config-experimentation: wip
  .eslintrc.cjs
  eslint.config.mjs
  package-lock.json
  package.json
  packages/eslint-config/helpers.js
  packages/eslint-config/index.js
  packages/eslint-config/naming.js
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

updated gh actions
  .github/workflows/bump.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

upgraded packages
  .husky/pre-commit
  package-lock.json
  package.json
  packages/check-package-lock/src/main.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/prettier/package.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.102.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

fixed insane new strict default of restrict-template-expressions
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.103.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

its-arbin-time: fixed workspace identification for example
  packages/check-package-lock/examples/a-misc-real-monorepo/apps/browser-extension/package.json
  packages/check-package-lock/examples/a-misc-real-monorepo/apps/slack/package.json
  packages/check-package-lock/examples/a-misc-real-monorepo/apps/webapp/package.json
  packages/check-package-lock/examples/a-misc-real-monorepo/package-lock.json
  packages/check-package-lock/examples/a-misc-real-monorepo/package.json
  packages/check-package-lock/examples/a-misc-real-monorepo/packages/components/package.json
  packages/check-package-lock/examples/a-misc-real-monorepo/services/accounts/package.json
  packages/check-package-lock/examples/a-misc-real-monorepo/services/application/package.json
  packages/check-package-lock/examples/a-misc-real-monorepo/services/capture/package.json
  packages/check-package-lock/examples/a-misc-real-monorepo/services/meetings/package.json
  packages/check-package-lock/examples/a-misc-real-monorepo/services/pulse/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

its-arbin-time: arbs in, arbs out, can't explain that
  package-lock.json
  packages/check-package-lock/package.json
  packages/check-package-lock/src/arb.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

its-arbin-time: switched check-package-lock over to npm arborist (instead of manually parsing)
  packages/check-package-lock/package.json
  packages/check-package-lock/src/arb.ts
  packages/check-package-lock/src/check-conflicting-dependencies.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

its-arbin-time: fixed some flats & some maps
  packages/check-package-lock/src/check-conflicting-dependencies.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

main: prefer dedupe (instead of always trying to install the latest version of a package)
  .npmrc
  packages/create-package/src/components/npmrc-component.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

upgraded to typescript 5.6
  packages/check-package-lock/package.json
  packages/check-package-lock/src/check-conflicting-dependencies.ts
  packages/check-package-lock/src/main.ts
  packages/check-package-lock/tsconfig.json
  packages/create-package/package.json
  packages/create-package/src/assumptions/collect-assumptions.ts
  packages/create-package/src/assumptions/try-load-package-json.ts
  packages/create-package/src/cli/prompt-package-context.ts
  packages/create-package/src/cli/prompt-to-continue.ts
  packages/create-package/src/components/browserslist-component.ts
  packages/create-package/src/components/chakra-ui-component.ts
  packages/create-package/src/components/check-package-lock-component.ts
  packages/create-package/src/components/component.ts
  packages/create-package/src/components/editor-config-component.ts
  packages/create-package/src/components/esbuild-component.ts
  packages/create-package/src/components/eslint-component.ts
  packages/create-package/src/components/find-matching-components.ts
  packages/create-package/src/components/husky-component.ts
  packages/create-package/src/components/ignore-file-component.ts
  packages/create-package/src/components/lint-fix-component.ts
  packages/create-package/src/components/lint-staged-component.ts
  packages/create-package/src/components/monorepo-packages-component.ts
  packages/create-package/src/components/npmrc-component.ts
  packages/create-package/src/components/package-json-component.ts
  packages/create-package/src/components/prettier-component.ts
  packages/create-package/src/components/react-component.ts
  packages/create-package/src/components/shellcheck-all-component.ts
  packages/create-package/src/components/typescript-component.ts
  packages/create-package/src/context/package-context.ts
  packages/create-package/src/main.ts
  packages/create-package/tsconfig.json
  packages/eslint-config-expo/tsconfig.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-node/tsconfig.json
  packages/eslint-config-prettier/tsconfig.json
  packages/eslint-config-react/tsconfig.json
  packages/eslint-config-storybook/tsconfig.json
  packages/eslint-config-web/tsconfig.json
  packages/eslint-config/tsconfig.json
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

fix type checking for storybook eslint
  tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.104.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

fixed node-gyp (by making direct dependency @npmcli/arborist an external dep)
  package-lock.json
  packages/check-package-lock/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.105.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

no longer really care about eslint-plugin-react-prefer-function-component
  package-lock.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

re-order bump input options
  .github/workflows/bump.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

eslint: disabled import/no-unused-modules for tests, cleaned up entrypoint file list
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

@typescript-eslint/no-unused-vars: respect ignore pattern for vars and destructed array params
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

dev initial setup -> dev setup
  bin/dev
  readme.md
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

install all deps with mise
  .mise.toml
  bin/dev
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated node to v22 (minimum supported v20)
  .github/workflows/publish.yml
  .github/workflows/validate.yml
  .mise.toml
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/create-package/src/components/package-json-component.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict, eslint

disable turbo/browserslist output
  .env
  .mise.toml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

npmrc: disable more output & added documentation for options
  .npmrc
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

tsconfig: updated target to es2022 (seems reasonably well supported now)
  packages/check-package-lock/src/checks.ts
  packages/check-package-lock/src/main.ts
  packages/check-package-lock/src/result.ts
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

updated prettier
  package-lock.json
  package.json
  packages/check-package-lock/readme.md
  packages/create-package/readme.md
  packages/eslint-config-expo/readme.md
  packages/eslint-config-next/readme.md
  packages/eslint-config-node/readme.md
  packages/eslint-config-prettier/package.json
  packages/eslint-config-prettier/readme.md
  packages/eslint-config-react/readme.md
  packages/eslint-config-storybook/readme.md
  packages/eslint-config-web/readme.md
  packages/eslint-config/readme.md
  packages/prettier/package.json
  packages/prettier/readme.md
  packages/shellcheck-all/readme.md
  packages/tsconfig/readme.md
  readme.md
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated packages
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated eslint tooling
  package-lock.json
  packages/check-package-lock/src/check-conflicting-dependencies.ts
  packages/check-package-lock/src/main.ts
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

updated typescript
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.106.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: a few option tweaks
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

install pipx with brew
  bin/dev
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

check-package-lock: new example that causes: Maximum call stack size exceeded
  packages/check-package-lock/examples/typescript-app-template-react-native-infinite/apps/desktop/package.json
  packages/check-package-lock/examples/typescript-app-template-react-native-infinite/apps/mobile/package.json
  packages/check-package-lock/examples/typescript-app-template-react-native-infinite/apps/web/package.json
  packages/check-package-lock/examples/typescript-app-template-react-native-infinite/package-lock.json
  packages/check-package-lock/examples/typescript-app-template-react-native-infinite/package.json
  packages/check-package-lock/examples/typescript-app-template-react-native-infinite/packages/api/package.json
  packages/check-package-lock/examples/typescript-app-template-react-native-infinite/packages/db/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

fixed Maximum call stack size exceeded errors with a visited package list
  packages/check-package-lock/src/check-conflicting-dependencies.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

updated deps
  .env
  .mise.toml
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

Path conditions:
  prettier --check --ignore-unknown: any of: *
  shellcheck-all --color=always: any of: *
  yamllint --strict: any of: *.{yml,yaml}
  eslint: any of: *.{js,ts,mjs,cjs,jsx,tsx}
  npx eslint-config-prettier: any of: {packages/eslint-config/*.js,packages/eslint-config-*/*.js}
