Repository pentible/typescript-standards: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, eslint, shellcheck --color=always, npx eslint-config-prettier

fix missing workspace check
  packages/check-package-lock/find-missing-workspaces.cjs
  packages/check-package-lock/package.json
Due: prettier --check --ignore-unknown

bumped version to v0.45.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

eslint cleanup
  packages/create-package/.eslintrc.yml
  packages/eslint-config-node/index.js
  packages/eslint-config-prettier/index.js
  packages/eslint-config-react/index.js
  packages/eslint-config-web/index.js
  packages/eslint-config/.eslintrc.yml
  packages/eslint-config/index.js
  packages/eslint-config/naming.js
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

bumped version to v0.46.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

fixed typing for js/cjs files
  .husky/pre-commit
  .lintstagedrc.yml
  package-lock.json
  package.json
  packages/check-package-lock/find-conflicting-packages.cjs
  packages/check-package-lock/find-missing-workspaces.cjs
  packages/check-package-lock/is-monorepo.cjs
  packages/check-package-lock/tsconfig.json
  packages/create-package/src/cli/prompt.ts
  packages/create-package/src/components/LintStagedComponent.ts
  packages/eslint-config-prettier/tsconfig.json
  packages/eslint-config-react/tsconfig.json
  packages/eslint-config-web/tsconfig.json
  packages/eslint-config/helpers.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/tsconfig/js/tsconfig.json
  packages/tsconfig/package.json
  packages/tsconfig/readme.md
  tsconfig.json
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

added next.js eslint config
  package-lock.json
  packages/create-package/tsconfig.json
  packages/eslint-config-next/index.js
  packages/eslint-config-next/package.json
  packages/eslint-config-next/readme.md
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-node/readme.md
  packages/eslint-config-prettier/readme.md
  packages/eslint-config-react/readme.md
  packages/eslint-config-web/readme.md
  packages/eslint-config/index.js
  tsconfig.json
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

bumped version to v0.47.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

fix eslint issues with some downstream packages
  package-lock.json
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

bumped version to v0.48.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

eslint next settings for monorepos
  packages/eslint-config-next/index.js
Due: prettier --check --ignore-unknown, eslint

bumped version to v0.49.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

eslint fixed types for js files
  package-lock.json
  packages/eslint-config/package.json
  packages/tsconfig/js/tsconfig.json
Due: prettier --check --ignore-unknown

updated eslint and eslint plugins, configured new rules/options
  .eslintignore
  .gitignore
  .prettierignore
  package-lock.json
  packages/create-package/src/cli/promptPackageContext.ts
  packages/create-package/src/components/EslintComponent.ts
  packages/create-package/src/components/PackageJsonComponent.ts
  packages/create-package/src/components/TypescriptComponent.ts
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

bumped version to v0.50.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

eslint: fix conflicting rules
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

bumped version to v0.51.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

eslint: @typescript-eslint/sort-type-union-intersection-members was renamed to @typescript-eslint/sort-type-constituents
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

bumped version to v0.52.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

eslint: this naming convention override is no longer relevant
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

shellcheck-all: added support for #! shell files
  .lintstagedrc.yml
  .shellcheckrc
  packages/create-package/src/components/LintStagedComponent.ts
  packages/shellcheck-all/shellcheck-all.sh
Due: prettier --check --ignore-unknown, eslint, shellcheck --color=always

bumped version to v0.53.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

create-package: must use tsc -b in monorepos so all references are checked
  packages/create-package/src/components/HuskyComponent.ts
  packages/create-package/src/components/PackageJsonComponent.ts
  packages/create-package/src/components/TypescriptComponent.ts
Due: prettier --check --ignore-unknown, eslint

shellcheck-all: made shellcheck an optional dependency (cannot be installed on vercel, also many envs have a shellcheck binary already anyways)
  devshell.toml
  package-lock.json
  packages/shellcheck-all/package.json
  packages/shellcheck-all/readme.md
Due: prettier --check --ignore-unknown

bumped version to v0.54.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

create-package: updated default package.json source
  packages/create-package/src/components/PackageJsonComponent.ts
Due: prettier --check --ignore-unknown, eslint

eslint: removed new-cap (this is best handled by @typescript-eslint/naming-convention)
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, eslint, npx eslint-config-prettier

bumped version to v0.55.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

create-package: minifying bundle, moved all deps to devDependencies (since we're bundling them anyways, we don't need them in the node_modules of dependent packages also)
  package-lock.json
  packages/create-package/package.json
Due: prettier --check --ignore-unknown

bumped version to v0.56.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

create-package: switched to commonjs build output, minify build output
  packages/create-package/src/components/PackageJsonComponent.ts
Due: prettier --check --ignore-unknown, eslint

updated github actions
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: prettier --check --ignore-unknown

bumped version to v0.57.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

actions: replaced set-output with GITHUB_OUTPUT
  .github/workflows/publish.yml
Due: prettier --check --ignore-unknown

setup ls-lint
  .husky/pre-commit
  .ls-lint.yml
  package-lock.json
  package.json
  packages/create-package/.eslintrc.yml
  packages/create-package/src/assumptions/collect-assumptions.ts
  packages/create-package/src/assumptions/try-load-package-json.ts
  packages/create-package/src/cli/prompt-package-context.ts
  packages/create-package/src/cli/prompt-to-continue.ts
  packages/create-package/src/components/browserslist-component.ts
  packages/create-package/src/components/chakra-ui-component.ts
  packages/create-package/src/components/check-package-lock-component.ts
  packages/create-package/src/components/component.ts
  packages/create-package/src/components/editor-config-component.ts
  packages/create-package/src/components/esbuild-component.ts
  packages/create-package/src/components/eslint-component.ts
  packages/create-package/src/components/find-matching-components.ts
  packages/create-package/src/components/findMatchingComponents.ts
  packages/create-package/src/components/husky-component.ts
  packages/create-package/src/components/ignore-file-component.ts
  packages/create-package/src/components/lint-fix-component.ts
  packages/create-package/src/components/lint-staged-component.ts
  packages/create-package/src/components/monorepo-packages-component.ts
  packages/create-package/src/components/npmrc-component.ts
  packages/create-package/src/components/package-json-component.ts
  packages/create-package/src/components/prettier-component.ts
  packages/create-package/src/components/react-component.ts
  packages/create-package/src/components/shellcheck-all-component.ts
  packages/create-package/src/components/typescript-component.ts
  packages/create-package/src/context/license.ts
  packages/create-package/src/context/package-access-level.ts
  packages/create-package/src/context/package-context.ts
  packages/create-package/src/context/package-feature.ts
  packages/create-package/src/context/package-type.ts
  packages/create-package/src/errors/user-cancelled-error.ts
  packages/create-package/src/formatting/formatter.ts
  packages/create-package/src/index.ts
  packages/create-package/src/utility/base64-url-encode.ts
  packages/create-package/src/utility/format-git-url-https.ts
Due: prettier --check --ignore-unknown, eslint

bumped version to v0.58.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

converted check-package-lock to typescript, made conflicting dependency error easier to understand (by only showing the direct dependencies that are causing the conflict)
  .nvmrc
  package-lock.json
  packages/check-package-lock/.eslintrc.yml
  packages/check-package-lock/check-package-lock.sh
  packages/check-package-lock/find-conflicting-packages.cjs
  packages/check-package-lock/find-missing-workspaces.cjs
  packages/check-package-lock/is-monorepo.cjs
  packages/check-package-lock/package.json
  packages/check-package-lock/src/check-conflicting-dependencies.ts
  packages/check-package-lock/src/checks.ts
  packages/check-package-lock/src/index.ts
  packages/check-package-lock/src/result.ts
  packages/check-package-lock/src/utils.ts
  packages/check-package-lock/tsconfig.json
  packages/create-package/package.json
  packages/create-package/src/components/package-json-component.ts
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, eslint, shellcheck --color=always, npx eslint-config-prettier

fixed check-package-lock linking on first install
  package-lock.json
  package.json
  packages/check-package-lock/check-package-lock.sh
  packages/check-package-lock/package.json
Due: prettier --check --ignore-unknown, shellcheck --color=always

bumped version to v0.59.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown

added dev command for common tasks that can't be handled by npm
  bin/dev
  devshell.toml
Due: prettier --check --ignore-unknown

fixed bad refactoring
  packages/check-package-lock/src/utils.ts
Due: prettier --check --ignore-unknown, eslint

Path conditions:
  prettier --check --ignore-unknown: any of: *
  eslint: any of: *.{js,ts,jsx,tsx}
  shellcheck --color=always: any of: *.sh
  npx eslint-config-prettier: any of: packages/eslint-config/*.js
