Repository pentible/typescript-standards: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

support tsx entry points
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

rtx -> mise
  .mise.toml
  .rtx.toml
  bin/dev
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

added eslint-config-storybook package
  package-lock.json
  packages/eslint-config-storybook/index.js
  packages/eslint-config-storybook/package.json
  packages/eslint-config-storybook/readme.md
  packages/eslint-config-storybook/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.93.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

main: updated github actions
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

switched from lewagon/wait-on-check-action to pentible/wait-for-check-action (initializes much faster and has fewer required inputs)
  .github/workflows/release.yml
  package-lock.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

fix mise no untrusted configs error
  bin/dev
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

added root readme
  bin/dev
  readme.md
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated turbo
  bin/dev
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

fix dev script
  bin/dev
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

moved lint commands to dev script, added yamllint call, split out lint commands in ci
  .github/workflows/validate.yml
  .lintstagedrc.yml
  bin/dev
  package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

esbuild seems to be working again, not sure what changed
  bin/faketty
  packages/check-package-lock/package.json
  packages/create-package/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.94.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

npm version doesn't commit in monorepos: https://github.com/npm/cli/issues/1082
  .github/workflows/release.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.95.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

release ci tweaks
  .github/workflows/bump.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated tsconfig target
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.96.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

changed default moduleResolution to Bundler
  packages/check-package-lock/tsconfig.json
  packages/create-package/tsconfig.json
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.97.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

shellcheck-all: exclude deleted files to prevent errors
  packages/shellcheck-all/shellcheck-all.sh
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

upgraded prettier to 3.2.5
  package-lock.json
  package.json
  packages/prettier/.prettierrc.json
  packages/prettier/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

upgraded eslint & typescript-eslint
  package-lock.json
  packages/eslint-config-next/index.js
  packages/eslint-config-next/package.json
  packages/eslint-config-prettier/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

upgraded additional eslint plugins, dropped eslint-comments in favor of reportUnusedDisableDirectives
  package-lock.json
  packages/eslint-config-next/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

upgraded prettier plugins
  package-lock.json
  packages/prettier/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

upgraded remaining possible packages
  .husky/pre-commit
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

new switch-exhaustiveness-check options
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

disallow nullish values in string templates
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.98.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

reacts server-only package doesn't need to be assigned
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

arrow-body-style: been considering removing this one for a while, ultimately it's annoying enough while writing code that I don't think it's worth keeping around
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

react/jsx-no-leaked-render: back to defaults (auto fix with ternary)
  packages/eslint-config-react/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.99.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

ignore turbo
  .eslintignore
  .gitignore
  .prettierignore
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.100.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

changed @pentible/prettier to export a js file instead of a json file
  .prettierrc
  package.json
  packages/prettier/.prettierrc.json
  packages/prettier/package.json
  packages/prettier/prettier.config.mjs
  packages/prettier/readme.md
  prettier.config.mjs
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

added examples to test check-package-lock with
  bin/dev
  packages/check-package-lock/examples/a-misc-real-monorepo/package-lock.json
  packages/check-package-lock/examples/a-misc-real-monorepo/package.json
  packages/check-package-lock/examples/monorepo-packages-conflicting-deps/.gitignore
  packages/check-package-lock/examples/monorepo-packages-conflicting-deps/package-lock.json
  packages/check-package-lock/examples/monorepo-packages-conflicting-deps/package.json
  packages/check-package-lock/examples/monorepo-packages-conflicting-deps/packages/one/package.json
  packages/check-package-lock/examples/monorepo-packages-conflicting-deps/packages/two/package.json
  packages/check-package-lock/examples/typescript-app-template-expo-circular/apps/desktop/package.json
  packages/check-package-lock/examples/typescript-app-template-expo-circular/apps/mobile/package.json
  packages/check-package-lock/examples/typescript-app-template-expo-circular/apps/web/package.json
  packages/check-package-lock/examples/typescript-app-template-expo-circular/package-lock.json
  packages/check-package-lock/examples/typescript-app-template-expo-circular/package.json
  packages/check-package-lock/examples/typescript-app-template-expo-circular/packages/api/package.json
  packages/check-package-lock/examples/typescript-app-template-expo-circular/packages/db/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

switched check-package-lock to use npm's arborist
  package-lock.json
  packages/check-package-lock/.eslintrc.cjs
  packages/check-package-lock/package.json
  packages/check-package-lock/src/check-conflicting-dependencies.ts
  packages/check-package-lock/src/main.ts
  packages/check-package-lock/src/types/arborist.d.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

wip
  packages/check-package-lock/src/check-conflicting-dependencies.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.101.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

Path conditions:
  prettier --check --ignore-unknown: any of: *
  shellcheck-all --color=always: any of: *
  eslint: any of: *.{js,ts,mjs,cjs,jsx,tsx}
  npx eslint-config-prettier: any of: {packages/eslint-config/*.js,packages/eslint-config-*/*.js}
