Repository pentible/typescript-standards: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict, eslint

.lintstagedrc.yml:

"*":
  - prettier --check --ignore-unknown
  - shellcheck-all --color=always
"*.{yml,yaml}":
  - yamllint --strict
"*.{js,ts,mjs,cjs,jsx,tsx}":
  - eslint
# TODO: fix, isn't finding the config files despite ESLINT_USE_FLAT_CONFIG=false
# "{packages/eslint-config/*.js,packages/eslint-config-*/*.js}":
#   - npx eslint-config-prettier

ci: fixed remaining references to Validate
  .github/workflows/bump.yml
  .github/workflows/lint.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

bumped version to v0.114.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

isNonNullable is no longer required with new versions of typescript
  packages/check-package-lock/src/main.ts
  packages/check-package-lock/src/utils.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

fixed pre-commit typecheck
  .husky/pre-commit
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint-config-next: allow unused exports from instrumentation.ts
  packages/eslint-config-next/index.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

eslint-config-next: ignore generated next-env.d.ts
  packages/eslint-config-next/index.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

fixes for the missus
  packages/eslint-config-next/index.ts
  packages/eslint-config-react/index.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.115.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

tsconfig: composite has too much baggage unfortunately, rely on external tools to handle dependency build ordering
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

github: bump actions
  .github/workflows/bump.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

github: bump actions
  .github/workflows/bump.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

make sure to generate types for libraries
  packages/eslint-config-expo/tsconfig.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-node/tsconfig.json
  packages/eslint-config-prettier/tsconfig.json
  packages/eslint-config-react/tsconfig.json
  packages/eslint-config-storybook/tsconfig.json
  packages/eslint-config-web/tsconfig.json
  packages/eslint-config/tsconfig.json
  packages/prettier/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.116.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated node, eslint, and typescript
  .mise.toml
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/check-package-lock/src/main.ts
  packages/eslint-config/index.ts
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/tsconfig/js/tsconfig.json
  packages/tsconfig/node/tsconfig.json
  packages/tsconfig/readme.md
  packages/tsconfig/tsconfig.json
  tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

more updates
  .env
  .husky/pre-commit
  .lintstagedrc.yml
  lint-staged.config.mjs
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/check-package-lock/src/check-conflicting-dependencies.ts
  packages/check-package-lock/src/main.ts
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/index.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/index.ts
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/index.ts
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/index.ts
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict, eslint

added snapshots for check-package-lock tests
  bin/dev
  packages/check-package-lock/examples/a-misc-real-monorepo/snapshot.txt
  packages/check-package-lock/examples/monorepo-packages-conflicting-deps/snapshot.txt
  packages/check-package-lock/examples/typescript-app-template-expo-circular/snapshot.txt
  packages/check-package-lock/examples/typescript-app-template-react-native-infinite/snapshot.txt
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

slight refactoring
  packages/check-package-lock/src/check-conflicting-dependencies.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

more updates
  .env
  .husky/pre-commit
  .lintstagedrc.yml
  lint-staged.config.mjs
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/check-package-lock/src/check-conflicting-dependencies.ts
  packages/check-package-lock/src/main.ts
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/eslint-plugin-next.d.ts
  packages/eslint-config-next/index.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/index.ts
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/index.ts
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/index.ts
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict, eslint

bumped version to v0.117.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

check-package-lock: switched from esbuild to tsdown
  package-lock.json
  package.json
  packages/check-package-lock/esbuild.config.mjs
  packages/check-package-lock/package.json
  packages/check-package-lock/tsdown.config.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

updated to package lock v3
  package-lock.json
  packages/check-package-lock/src/main.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

npm update transitive deps
  package-lock.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

tsdown: ignore info logs
  packages/check-package-lock/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

no build
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .mise.toml
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-expo/tsconfig.json
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config-web/tsconfig.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

mise tasks
  .env
  .github/workflows/lint.yml
  .gitignore
  .husky/pre-commit
  .mise.toml
  .root.prettierignore
  bin/dev
  lint-staged.config.mjs
  mise.toml
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/check-package-lock/tsconfig.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-expo/tsconfig.json
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-node/package.json
  packages/eslint-config-node/tsconfig.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-prettier/tsconfig.json
  packages/eslint-config-react/package.json
  packages/eslint-config-react/tsconfig.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-storybook/tsconfig.json
  packages/eslint-config-web/package.json
  packages/eslint-config-web/tsconfig.json
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/shellcheck-all/shellcheck-all.sh
  packages/tsconfig/package.json
  tsconfig.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict, eslint

bumped version to v0.118.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

pnpm: no git checks
  .github/workflows/publish.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

bumped version to v0.119.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

publish: allow oidc token generation
  .github/workflows/publish.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

bumped version to v0.120.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

tsconfig: fixed files (why is this not an error...)
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.121.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint-config-next: fix import
  packages/eslint-config-next/index.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.122.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

tsconfig: set rootDir (now that it's required when setting outDir)
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.123.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

check-package-lock: added an example of react-native deps being nested under itself
  bin/dev
  packages/check-package-lock/examples/a-misc-real-monorepo/snapshot.txt
  packages/check-package-lock/examples/monorepo-packages-conflicting-deps/snapshot.txt
  packages/check-package-lock/examples/template-expo-fix-deps-nested/apps/desktop/package.json
  packages/check-package-lock/examples/template-expo-fix-deps-nested/apps/mobile/package.json
  packages/check-package-lock/examples/template-expo-fix-deps-nested/apps/web/package.json
  packages/check-package-lock/examples/template-expo-fix-deps-nested/package-lock.json
  packages/check-package-lock/examples/template-expo-fix-deps-nested/package.json
  packages/check-package-lock/examples/template-expo-fix-deps-nested/packages/backend/package.json
  packages/check-package-lock/examples/template-expo-fix-deps-nested/snapshot.txt
  packages/check-package-lock/examples/typescript-app-template-expo-circular/snapshot.txt
  packages/check-package-lock/examples/typescript-app-template-react-native-infinite/snapshot.txt
Due: prettier --check --ignore-unknown, shellcheck-all --color=always
