Repository pentible/typescript-standards: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

disable no-magic-numbers (I like this in general, but it's too annoying while debugging stuff)
  packages/eslint-config/.eslintrc.yml
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.60.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

build-on-install:
  bin/dev
  package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.61.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

shellcheck-all: fixed warning: command substitution: ignored null byte in input
  packages/shellcheck-all/shellcheck-all.sh
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated to typescript 5
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/create-package/src/components/browserslist-component.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.62.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

next/react eslint fixes
  packages/eslint-config-next/index.js
  packages/eslint-config-react/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.63.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: fix tailwind config errors
  packages/create-package/src/components/lint-staged-component.ts
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.64.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: fixed NODE_ENV index access in next
  packages/eslint-config-next/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.65.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

allow while(true) for stream reader loops
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.66.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: dropping max-* rules (just not consistently managable)
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.67.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated nix packages
  .envrc
  devshell.toml
  flake.lock
  flake.nix
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated check-package-lock/create-package to support node 16
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.68.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

fix for turbo compatibility
  package.json
  packages/create-package/src/components/package-json-component.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

tsconfig: disabling noPropertyAccessFromIndexSignature (next.js and a few other libraries override the type of process.env in a way that is inconsistentent and often breaks this rule)
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.69.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

misc eslint cleanup
  package-lock.json
  packages/check-package-lock/.eslintrc.yml
  packages/check-package-lock/check-package-lock.sh
  packages/check-package-lock/package.json
  packages/check-package-lock/src/main.ts
  packages/create-package/.eslintrc.yml
  packages/create-package/package.json
  packages/create-package/src/components/package-json-component.ts
  packages/create-package/src/main.ts
  packages/eslint-config-react/index.js
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.70.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

added support for apps directory inside monorepos
  packages/create-package/src/components/ignore-file-component.ts
  packages/create-package/src/components/monorepo-packages-component.ts
  packages/create-package/src/components/package-json-component.ts
  packages/eslint-config-next/index.js
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.71.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

fixed @typescript-eslint/parser to be a peer dependency of eslint-config, added dev lint commands
  bin/dev
  package-lock.json
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.72.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

proper fix for packages with commands to get installed properly when cloning this repo
  bin/dev
  package-lock.json
  packages/check-package-lock/check-package-lock.sh
  packages/check-package-lock/package.json
  packages/create-package/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

setup ~/ alias
  packages/check-package-lock/src/check-conflicting-dependencies.ts
  packages/check-package-lock/src/main.ts
  packages/check-package-lock/tsconfig.json
  packages/create-package/src/assumptions/collect-assumptions.ts
  packages/create-package/src/assumptions/try-load-package-json.ts
  packages/create-package/src/cli/prompt-package-context.ts
  packages/create-package/src/cli/prompt-to-continue.ts
  packages/create-package/src/components/browserslist-component.ts
  packages/create-package/src/components/chakra-ui-component.ts
  packages/create-package/src/components/check-package-lock-component.ts
  packages/create-package/src/components/component.ts
  packages/create-package/src/components/editor-config-component.ts
  packages/create-package/src/components/esbuild-component.ts
  packages/create-package/src/components/eslint-component.ts
  packages/create-package/src/components/find-matching-components.ts
  packages/create-package/src/components/husky-component.ts
  packages/create-package/src/components/ignore-file-component.ts
  packages/create-package/src/components/lint-fix-component.ts
  packages/create-package/src/components/lint-staged-component.ts
  packages/create-package/src/components/monorepo-packages-component.ts
  packages/create-package/src/components/npmrc-component.ts
  packages/create-package/src/components/package-json-component.ts
  packages/create-package/src/components/prettier-component.ts
  packages/create-package/src/components/react-component.ts
  packages/create-package/src/components/shellcheck-all-component.ts
  packages/create-package/src/components/typescript-component.ts
  packages/create-package/src/context/package-context.ts
  packages/create-package/src/main.ts
  packages/create-package/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

check-package-lock: exclude nested node_modules from missing workspaces check
  packages/check-package-lock/src/main.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.73.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

move eslint overrides
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.74.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: fixed config type
  packages/eslint-config-next/index.js
  packages/eslint-config-node/index.js
  packages/eslint-config-prettier/index.js
  packages/eslint-config-react/index.js
  packages/eslint-config-web/index.js
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

eslint: exporting naming/helpers so they can be used from dependants
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: added support for ttf/otf fonts
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.75.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

basic eslint-config-expo package
  package-lock.json
  packages/eslint-config-expo/eslint-config.d.ts
  packages/eslint-config-expo/index.js
  packages/eslint-config-expo/package.json
  packages/eslint-config-expo/readme.md
  packages/eslint-config-expo/tsconfig.json
  packages/eslint-config/index.js
  tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

Path conditions:
  prettier --check --ignore-unknown: any of: *
  shellcheck-all --color=always: any of: *
  eslint: any of: *.{js,ts,jsx,tsx,cjs}
  npx eslint-config-prettier: any of: {packages/eslint-config/*.js,packages/eslint-config-*/*.js}
