Repository pentible/typescript-standards: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict, eslint, npx eslint-config-prettier

updated typescript
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint-config: updated for rule changes in the latest version
  .lintstagedrc.yml
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict, eslint, npx eslint-config-prettier

fix ci & linting
  .github/workflows/validate.yml
  packages/check-package-lock/src/check-conflicting-dependencies.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict, eslint

bumped version to v0.107.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

changed workspace version specifier to star (functionally the same as file:, but less error prone)
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.108.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint-config: disabled strict rule since it seems bugged, and who cares at this point (almost nothing uses cjs anymore)
  packages/eslint-config/index.mjs
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.109.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: check floating thenables
  packages/eslint-config/index.mjs
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

eslint-config: switched configs to typescript
  packages/eslint-config-expo/index.d.ts
  packages/eslint-config-expo/index.ts
  packages/eslint-config-expo/package.json
  packages/eslint-config-expo/tsconfig.json
  packages/eslint-config-next/index.d.ts
  packages/eslint-config-next/index.ts
  packages/eslint-config-next/package.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-node/index.d.ts
  packages/eslint-config-node/index.ts
  packages/eslint-config-node/package.json
  packages/eslint-config-node/tsconfig.json
  packages/eslint-config-prettier/index.d.ts
  packages/eslint-config-prettier/index.ts
  packages/eslint-config-prettier/package.json
  packages/eslint-config-prettier/tsconfig.json
  packages/eslint-config-react/index.d.ts
  packages/eslint-config-react/index.ts
  packages/eslint-config-react/package.json
  packages/eslint-config-react/tsconfig.json
  packages/eslint-config-storybook/index.d.ts
  packages/eslint-config-storybook/index.ts
  packages/eslint-config-storybook/package.json
  packages/eslint-config-storybook/tsconfig.json
  packages/eslint-config-web/index.d.ts
  packages/eslint-config-web/index.ts
  packages/eslint-config-web/package.json
  packages/eslint-config-web/tsconfig.json
  packages/eslint-config/index.d.ts
  packages/eslint-config/index.ts
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

setup turborepo with linting commands
  .github/workflows/publish.yml
  .github/workflows/validate.yml
  .gitignore
  bin/dev
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/prettier/tsconfig.json
  packages/shellcheck-all/package.json
  tsconfig.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

ci: run lints with turbo
  .github/workflows/validate.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

ci: re-add if present check since this is run per package
  .github/workflows/publish.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

eslint-config: dropped EslintConfig from export names
  eslint.config.mjs
  packages/eslint-config-expo/index.ts
  packages/eslint-config-expo/readme.md
  packages/eslint-config-next/index.ts
  packages/eslint-config-next/readme.md
  packages/eslint-config-node/index.ts
  packages/eslint-config-node/readme.md
  packages/eslint-config-prettier/index.ts
  packages/eslint-config-prettier/readme.md
  packages/eslint-config-react/index.ts
  packages/eslint-config-react/readme.md
  packages/eslint-config-storybook/index.ts
  packages/eslint-config-storybook/readme.md
  packages/eslint-config-web/index.ts
  packages/eslint-config-web/readme.md
  packages/eslint-config/index.ts
  packages/eslint-config/readme.md
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.110.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

fix eslint-react imports
  packages/eslint-config-react/index.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.111.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

esm me
  eslint.config.mjs
  package-lock.json
  packages/check-package-lock/esbuild.config.mjs
  packages/check-package-lock/package.json
  packages/check-package-lock/tsconfig.json
  packages/create-package/esbuild.config.mjs
  packages/create-package/package.json
  packages/create-package/tsconfig.json
  packages/eslint-config-expo/tsconfig.json
  packages/eslint-config-next/tsconfig.json
  packages/eslint-config-node/tsconfig.json
  packages/eslint-config-prettier/tsconfig.json
  packages/eslint-config-react/tsconfig.json
  packages/eslint-config-storybook/tsconfig.json
  packages/eslint-config-web/tsconfig.json
  packages/eslint-config/tsconfig.json
  packages/prettier/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

compressed esbuild cjs header a bit
  packages/check-package-lock/esbuild.config.mjs
  packages/create-package/esbuild.config.mjs
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

tsconfig: updated with newer options
  packages/check-package-lock/src/check-conflicting-dependencies.ts
  packages/check-package-lock/src/checks.ts
  packages/check-package-lock/src/main.ts
  packages/check-package-lock/src/result.ts
  packages/create-package/src/cli/prompt-package-context.ts
  packages/create-package/src/components/typescript-component.ts
  packages/create-package/src/context/license.ts
  packages/create-package/src/context/package-access-level.ts
  packages/create-package/src/context/package-feature.ts
  packages/create-package/src/context/package-type.ts
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.112.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: setup react compiler plugin
  package-lock.json
  packages/eslint-config-react/index.ts
  packages/eslint-config-react/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

eslint: setup react fast refresh plugin
  package-lock.json
  packages/eslint-config-next/index.ts
  packages/eslint-config-react/index.ts
  packages/eslint-config-react/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

eslint: setup expo plugin
  package-lock.json
  packages/eslint-config-expo/eslint-plugin-expo.d.ts
  packages/eslint-config-expo/index.ts
  packages/eslint-config-expo/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

switched matrix build to reference npm workspaces
  .github/workflows/publish.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

ci: filter for public workspaces in publish workflow
  .github/workflows/publish.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

turbo: pass env through for now
  packages/check-package-lock/package.json
  packages/create-package/package.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

switched remaining packages to using package.json exports
  packages/check-package-lock/package.json
  packages/create-package/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

prettier: converted to typescript
  packages/prettier/index.ts
  packages/prettier/package.json
  packages/prettier/prettier.config.mjs
  packages/prettier/readme.md
  packages/prettier/tsconfig.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.113.0
  package-lock.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

ci: validate -> lint
  .github/workflows/lint.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

turbo: ported over some improvements from template repo
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .root.prettierignore
  bin/dev
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, yamllint --strict

turbo: define inputs for lint:yaml and typecheck
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

fixed lint:fix so it doesn't run extra commands
  bin/dev
  package.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

cleanup ignores
  .gitignore
  .prettierignore
  packages/check-package-lock/examples/monorepo-packages-conflicting-deps/.gitignore
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated eslint-import-resolver-typescript
  eslint.config.mjs
  package-lock.json
  packages/eslint-config/index.ts
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

eslint: setup node (n) plugin
  eslint.config.mjs
  package-lock.json
  packages/eslint-config-node/index.ts
  packages/eslint-config-node/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

eslint: fixed some common node plugin errors
  packages/eslint-config-node/index.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

create-package: finally marking deprecated
  packages/create-package/readme.md
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

Path conditions:
  prettier --check --ignore-unknown: any of: *
  shellcheck-all --color=always: any of: *
  yamllint --strict: any of: *.{yml,yaml}
  eslint: any of: *.{js,ts,mjs,cjs,jsx,tsx}
  npx eslint-config-prettier: any of: {packages/eslint-config/*.js,packages/eslint-config-*/*.js}
