Repository pentible/typescript-standards: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.76.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

no radix?
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.77.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

expo-router/entry imports don't need to be assigned
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.78.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint-config-next: app router routes.ts support
  package-lock.json
  packages/eslint-config-next/eslint-config.d.ts
  packages/eslint-config-next/index.js
  packages/eslint-config-next/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.79.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: only apply typescript rules to typescript files
  .eslintrc.cjs
  .eslintrc.yml
  packages/create-package/.eslintrc.cjs
  packages/create-package/.eslintrc.yml
  packages/eslint-config-expo/index.js
  packages/eslint-config-next/index.js
  packages/eslint-config-prettier/index.js
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.80.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: treat js files as node files since various tool configs are genrally the only reason you have js files in a ts project
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.81.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

moved eslint-config-node to packages that need it
  .eslintrc.cjs
  packages/create-package/.eslintrc.cjs
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

eslint: updated eslint-plugin-import to fix bug where it removes a comma
  package-lock.json
  packages/check-package-lock/src/main.ts
  packages/create-package/src/cli/prompt-package-context.ts
  packages/create-package/src/components/eslint-component.ts
  packages/create-package/src/components/package-json-component.ts
  packages/create-package/src/components/typescript-component.ts
  packages/eslint-config/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.82.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: mjs support
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.83.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint: added support for next's middleware.ts
  packages/eslint-config-next/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.84.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

ported over some changes from template repo
  .browserslistrc
  .envrc
  .eslintignore
  .github/workflows/publish.yml
  .gitignore
  .npmrc
  .nvmrc
  .prettierignore
  .rtx.toml
  .shellcheckrc
  bin/dev
  devshell.toml
  flake.lock
  flake.nix
  packages/create-package/src/components/npmrc-component.ts
  packages/create-package/src/components/shellcheck-all-component.ts
  tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

fixed workflow
  .github/workflows/validate.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.85.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated shellcheckrc
  .shellcheckrc
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.86.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

misc changes from template repo
  .eslintignore
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierignore
  bin/dev
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

upgraded to prettier 3.0
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/check-package-lock/src/checks.ts
  packages/create-package/src/components/lint-fix-component.ts
  packages/create-package/src/components/package-json-component.ts
  packages/create-package/src/components/prettier-component.ts
  packages/prettier/.prettierrc.json
  packages/prettier/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.87.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

eslint-config-next: disabled import/no-anonymous-default-export
  packages/eslint-config-next/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.88.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.89.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

allow named function expressions for stuff like React.memo
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

allow requires in config files (ie. tailwind.config.ts)
  packages/eslint-config/index.js
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint, npx eslint-config-prettier

bumped version to v0.90.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

dropped ls-lint
  .husky/pre-commit
  .ls-lint.yml
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

setup yamllint
  .github/workflows/release.yml
  .yamllint.yml
  bin/dev
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

updated ci release command to gh now that actions don't support hub cli
  .github/workflows/release.yml
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

bumped version to v0.91.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

added dev start command which runs build watchers
  bin/dev
  bin/faketty
  package-lock.json
  package.json
  packages/check-package-lock/package.json
  packages/create-package/package.json
  turbo.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

removed noUnusedLocals/noUnusedParameters since eslint already checks these with @typescript-eslint/no-unused-vars, and having these rules in ts can be annoying for projects that build with tsc
  packages/tsconfig/tsconfig.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

switched check-package-lock to use npm's arborist
  package-lock.json
  packages/check-package-lock/.eslintrc.cjs
  packages/check-package-lock/package.json
  packages/check-package-lock/src/check-conflicting-dependencies.ts
  packages/check-package-lock/src/main.ts
  packages/check-package-lock/src/types/arborist.d.ts
Due: prettier --check --ignore-unknown, shellcheck-all --color=always, eslint

bumped version to v0.92.0
  packages/check-package-lock/package.json
  packages/create-package/package.json
  packages/eslint-config-expo/package.json
  packages/eslint-config-next/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-prettier/package.json
  packages/eslint-config-react/package.json
  packages/eslint-config-web/package.json
  packages/eslint-config/package.json
  packages/prettier/package.json
  packages/shellcheck-all/package.json
  packages/tsconfig/package.json
Due: prettier --check --ignore-unknown, shellcheck-all --color=always

Path conditions:
  prettier --check --ignore-unknown: any of: *
  shellcheck-all --color=always: any of: *
  eslint: any of: *.{js,ts,jsx,tsx,cjs}
  npx eslint-config-prettier: any of: {packages/eslint-config/*.js,packages/eslint-config-*/*.js}
